.App {
  width: 100%;
  /* text-align: center; */
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.padded-section {
  /* 50 vertically 25 horizontally */
  padding: var(--global-padding);
}

.vertical-whitespace {
  padding: var(--vertical-padding);
}

.just-bottom-whitespace {
  padding-bottom: 50px;
}

.hello-there {
  /* margin-block-start: 10rem; */
  margin-block-start: 3.5rem;
  margin-block-end: 0rem;
  font-size: 1rem;
  /* color: var(--dark-blue); */
  color: var(--very-blue);
}

.my-name {
  /* margin-left: 0.4rem; */
  font-family: var(--roboto);
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-block-start: 0.4rem;
  /* margin-block-end: 1rem; */
  margin-block-end: 0.5rem;
  font-weight: 1000;
}
.under-my-name {
  margin-block-start: 0.53rem;
  /* margin-block-start: 1.4rem; */
  /* margin-left: 10px; */
  /* margin-block-end: 1.4rem; */
  margin-block-end: 2.27rem;
  /* font-family: var(--kongtext); */
  /* font-size: 1rem; */
  font-size: 1.7rem;
  /* color: var(--grayish); */
  /* color: var(--dark-blue); */
  color: var(--very-blue);
  /* overflow: hidden;
  white-space: nowrap;
  border-right: 10px solid var(--grayish);
  animation: type 5s steps(50, end), caret-blink .8s; */

}

.intro-paragraph {
  color: var(--grayish);
  /* width: 50%; */
}


h3 {
  /* color: var(--dark-blue); */
  color: var(--very-blue);
  font-size: 1.7rem;
  margin-block-start: 1.4rem; 
  margin-block-end: 1.4rem;
}
b {
  /* color: var(--dark-blue); */
  color: var(--very-blue);
}
.MuiButton-label {
  color: var(--very-blue) !important;
}

.MuiButton-outlined {
  border: 1px solid var(--very-blue) !important;
}

.MuiButton-outlined:hover {
  border: 1px solid var(--dark-blue) !important;
}
.MuiButton-outlined:hover .MuiButton-label{
  color: var(--dark-blue) !important;
}

.vertical-padding-container {
  padding: var(--vertical-padding);
}
.featured-projects-title {
  padding: var(--horizontal-padding);
  /* margin-bottom: 0px; */
}
.job-container {
  display: flex;
  justify-content: space-between;
  margin-block-end: 34px;
}

.final-job-container {
  display: flex;
  justify-content: space-between;
}

.job-details {
  display: inline-grid;
}
.job-details :first-child {
  color: var(--dark-blue);
  font-size: 1.05rem;
  font-weight: 600;
}
.job-details :last-child {
  margin-block-start: 3px;
  color: var(--almost-black);
  font-size: 1rem;
  font-weight: 100;
}

.certificate-container {
  display: flex;
  justify-content: space-between;
  margin-block-end: 21px;
}

.final-certificate-container {
  display: flex;
  justify-content: space-between;
}

.certificate-details {
  color: var(--dark-blue);
  font-size: 1.05rem;
  font-weight: 600;
}

.job-years {
  font-size: 1rem;
  color: var(--almost-black);
  text-align: right;
  min-width: 145px;
}

.cert-year {
  font-size: 1rem;
  /* color: var(--almost-black); */
  text-align: right;
  min-width: 145px;
}
.cert-date-test {
  display: inline;
  min-width: 20vw;
}

.info-icon-date-container {
  display: flex;
  color: var(--very-blue);
  /* width: 130px; */
}

.anchor-override {
  color: var(--very-blue);
  text-decoration: none;
}
.anchor-override:hover {
  color: var(--dark-blue);
  text-decoration: none;
}

.info-icon-date-container:hover {
  color: var(--dark-blue);
}

.info-icon-date-container:hover svg{
  color: var(--dark-blue);
}

.info-icon-date-container svg{
  margin-left: 5px;
  margin-bottom: 1px;
  color: var(--very-blue);
  font-size: 1.4rem;
}

.skill-grid-container-wrapper {
  display: grid;
  gap: 1.5rem;
  grid-row-gap: 1.5rem;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */

  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: auto;
}
.skill-grid-container {
  display: grid;
  gap: 1.5rem;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */

  grid-template-columns: repeat(auto-fit, minmax(120px, 0.5fr));
  grid-auto-rows: auto;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  color: var(--almost-black);
  font-size: 1rem;
  margin-block-start: 0.4rem;
  margin-block-end: 0px;
}

li {
  margin: 8px 0;
}

.list-header {
  font-size: 1.3rem;
  color: var(--dark-blue);
  font-weight: 600;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.center-text {
  text-align: center;
}

.built-with-container {
  font-size: 1.2rem;
}

.built-with-container svg {
  color: var(--very-blue);
}

.social-media-container {
  margin-block-start: 2rem;
  display: flex;
  justify-content: center;
  color: var(--very-blue);
}

.social-media-container svg {
  font-size: 2rem;
}
.dark-text {
  color: var(--dark-blue);
}
.MuiTypography-colorPrimary {
  color: var(--very-blue) !important;
  margin: 0 20px !important;
}

.MuiTypography-colorPrimary:hover {
  color: var(--dark-blue) !important;
  cursor: pointer !important;
}

.whiteish-background-container {
  background: var(--whiteish);
  z-index: 0;
}

.tsparticles-canvas {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  left: 0;
  z-index: -2;
}

 .website-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0px auto;
}

@media (min-width: 30em) {
  .website-container {
      padding: 0 8px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0px auto;
  }
  .tsparticles {
    display: none;
  }
}

@media (min-width: 48em) {
  .website-container {
      padding: 0 133px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0px auto;
  }

  .tsparticles {
    display: block;
  }
}

@media (min-width: 62.5em) {
  .website-container {
      padding: 0 183px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0px auto;
  }

  .tsparticles {
    display: block;
  }
}

@media (min-width: 70em) {
  .website-container {
      padding: 0 233px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0px auto;
  }

  .tsparticles {
    display: block;
  }
}
