.App {
  width: 100%;
  /* text-align: center; */
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.padded-section {
  /* 50 vertically 25 horizontally */
  padding: var(--global-padding);
}

.hello-there {
  /* margin-block-start: 10rem; */
  margin-block-start: 3.5rem;
  margin-block-end: 0.5rem;
  font-size: 1rem;
  /* color: var(--dark-blue); */
  color: var(--very-blue);
}

.my-name {
  /* margin-left: 0.4rem; */
  font-family: var(--kongtext);
  color: var(--dark-blue);
  font-size: 2.5rem;
  margin-block-start: 0.5rem;
  /* margin-block-end: 1rem; */
  margin-block-end: 0.5rem;
}
.under-my-name {
  /* margin-block-start: 1rem; */
  margin-block-start: 0.5rem;
  /* margin-left: 10px; */
  /* margin-block-end: 1.5rem; */
  margin-block-end: 2.5rem;
  /* font-family: var(--kongtext); */
  /* font-size: 1rem; */
  font-size: 1.7rem;
  /* color: var(--grayish); */
  /* color: var(--dark-blue); */
  color: var(--very-blue);
  /* overflow: hidden;
  white-space: nowrap;
  border-right: 10px solid var(--grayish);
  animation: type 5s steps(50, end), caret-blink .8s; */

}

.intro-paragraph {
  color: var(--grayish);
  /* width: 50%; */
}


h3 {
  /* color: var(--dark-blue); */
  color: var(--very-blue);
  font-size: 1.7rem;
}
b {
  /* color: var(--dark-blue); */
  color: var(--very-blue);
}

.MuiButton-outlined {
  /* color: var(--dark-blue); */
  border: 1px solid var(--very-blue) !important;
}
.MuiButton-label {
  color: var(--very-blue);
}
/* 
@keyframes type {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
} */