/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.padded-section {
  /* 50 vertically 25 horizontally */
  /* width: 100%; */
  padding: 50px 25px;
}

.hello-there {
  margin-block-start: 3.5rem;
  /* margin-block-start: 1rem; */
  /* margin-block-end: 1.5rem; */
  margin-block-end: 0.5rem;
  font-size: 1rem;
  color: var(--dark-blue);
}

.my-name {
  /* margin-left: 0.4rem; */
  font-family: var(--kongtext);
  font-size: 2.5rem;
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}
.under-my-name {
  margin-block-start: 1rem;
  /* margin-left: 10px; */
  margin-block-end: 1.5rem;
  /* margin-block-end: 4rem; */
  font-family: var(--kongtext);
  font-size: 1rem;
  color: var(--grayish);

}

.intro-paragraph {
  color: var(--grayish);
  /* width: 50%; */
}


h3 {
  color: var(--dark-blue);
  font-size: 1.7rem;
}
b {
  color: var(--dark-blue);
}