@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* @import url("https://allfont.net/allfont.css?fonts=joystix");
@import url("https://allfont.net/allfont.css?fonts=digitek");
@import url("https://allfont.net/allfont.css?fonts=arcadeclassic"); */
@import url("https://allfont.net/allfont.css?fonts=kongtext-regular");

:root {
  --open-sans: "Open Sans", sans-serif;
  /* --dark-blue: #28518a; */
  /* --grayish: #414b58; */
  --kongtext: 'Kongtext Regular', arial, sans-serif;
  /* --joystix: 'Joystix', arial, sans-serif; */
  --whiteish: #f9f7f7;
  --light-blue: #dbe2ef;
  --very-blue: #3f72af;
  --dark-blue: #112d4e;
  --grayish: #707070;
  --almost-black: #242424;
  --global-padding: 50px 25px;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--whiteish);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/*scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--light-blue);
}

/*scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-blue)
}

/*scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--very-blue);
}